{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}
<section class="contact" id="contact">

     <h1 class="heading"> <span>Register</span> now </h1>

<div class="row">

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    </section>
{% endblock %}
